#banner
  .banner_content
    %h1 File Cabinet
    %p Documents and Work, all organized!
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Cloud bread pork belly raclette, poutine synth four dollar toast aesthetic humblebrag adaptogen ethical chia cardigan fashion axe. IPhone marfa banh mi succulents narwhal prism. Kale chips vinyl forage portland thundercats, cronut bicycle rights four loko irony pork belly. Hell of vegan af unicorn tacos thundercats ugh squid meh 90's before they sold out roof party humblebrag.


#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path